<div class="app-index" appChangeColor [bgColor]="color" [classWidget]="widget">
  <header class="header">
    <app-navigation></app-navigation>
  </header>
  <section class="bottom">
    <aside class="aside">
      <app-aside></app-aside>
    </aside>
    <article class="article">
      <section class="top">
        <app-section></app-section>
      </section>
      <section class="body">
        <app-widget class="widget"></app-widget>
        <app-widget class="widget"></app-widget>
        <app-widget class="widget"></app-widget>
        <app-widget class="widget"></app-widget>
      </section>
    </article>
  </section>

  
</div>
